.containerr {
  display: flex;
  justify-content: center;
  background-color: #a4d4b4;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 3rem 0.5rem 3rem 0.5rem;
}

.intro {
  margin-top: 20%;
  width: 40rem;
  margin-right: 5rem;
}

.resType {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (width<500px) {
  .containerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a4d4b4;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 3rem 0.5rem 3rem 0.5rem;
  }
  .intro {
    margin-top: 20%;
    width: auto;
  }
}
