/* RestaurantHome.css */

.restaurant-dashboard {
  display: flex;
  height: 100vh;
  overflow-x: hidden; /* Hide horizontal overflow */
  padding-bottom: 0.2rem;
}

.sidebar {
  width: 25rem; /* Initial width for larger screens */
  padding: 0.5rem;
  background-image: url("https://png.pngtree.com/background/20220715/original/pngtree-dark-green-dark-green-advertising-menu-cover-background-gold-content-box-picture-image_1625160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 0.5s ease-in-out; /* Smooth animation for width */
}

.sidebar.open {
  width: 25rem; /* Open sidebar width */
}

.sidebar:not(.open) {
  width: 0; /* Collapse sidebar */
}

.toggle-btn {
  top: 20px;
  left: 20px;
  z-index: 1; /* Ensure toggle button is above sidebar */
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.main-content {
  flex: 1;
  padding: 3rem;
  background-color: white;
  width: calc(100% - 25rem); /* Adjust width based on sidebar */
  transition: width 0.3s ease-in-out; /* Smooth animation for width */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  background-image: url("https://i.etsystatic.com/8583516/r/il/413579/605177524/il_fullxfull.605177524_ht7a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

/* Media Query for smaller screens */
/* @media (max-width: 825px) {
  .sidebar {
    width: 0; Collapse sidebar
  }

  .sidebar.open {
    width: 25rem; Override width for open state
  }

  .main-content {
    width: 100%;Full width when sidebar is collapsed
  }
} */

@media screen and (width<800px) {
  .sidebar {
    width: 0;
  }
  .sidebar.open {
    width: 0;
  }
  .sidebar:not(.open) {
    width: 25rem;
  }
  .main-content {
    width: 100%;
  }
}

.sidebar-tab:hover {
  background-color: goldenrod !important;
}
