/* RestaurantHome.css */

.restaurant-dashboard {
  display: flex;
  height: 100vh;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.sidebar {
  width: 25rem; /* Initial width for larger screens */
  background-color: #f5f3f5;
  padding: 1rem;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrBT3IsYiATdnsONvweBTf0YNxaklkgseEeA&s");
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 0.3s ease-in-out; /* Smooth animation for width */
}

.sidebar.open {
  width: 25rem; /* Open sidebar width */
}

.sidebar:not(.open) {
  width: 0; /* Collapse sidebar */
}

.toggle-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1; /* Ensure toggle button is above sidebar */
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.main-content {
  flex: 1;
  padding: 3rem;
  background-color: white;
  margin-bottom: 2rem;
  width: calc(100% - 25rem); /* Adjust width based on sidebar */
  transition: width 0.3s ease-in-out; /* Smooth animation for width */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

/* Media Query for smaller screens */
@media (max-width: 825px) {
  .sidebar {
    width: 0; /* Collapse sidebar */
  }

  .sidebar.open {
    width: 25rem; /* Override width for open state */
  }

  .main-content {
    width: 100%; /* Full width when sidebar is collapsed */
  }
}
