/* body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
} */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.formarea {
  background: #d3f6db;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.inputarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.labels {
  margin-bottom: 5px;
  font-weight: bold;
}

.inputs {
  padding: 8px;
  border: 1px solid #d3f6db;
  border-radius: 5px;
}

.btnarea {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  background-color: #92d5e6;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #73bbcd;
}
