/* Login.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
  background-image: url("../front.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  backdrop-filter: blur(7px); /* Blurring effect */
  -webkit-backdrop-filter: blur(7px); /* Blurring effect for Safari */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Light border */
  padding: 20px;
}

.formarea {
  background: linear-gradient(135deg, #141212 0%, #141212 100%);
  padding: 40px 60px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  color: #fff;
  opacity: 0.8; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
  filter: alpha(opacity=50); /* IE lt 8 */
  -ms-filter: "alpha(opacity=50)"; /* IE 8 */
  -khtml-opacity: 0.5; /* Safari 1.x */
  -moz-opacity: 0.5; /* FF lt 1.5, Netscape */
}

.formarea h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #fff;
}

.inputarea {
  margin-bottom: 20px;
  text-align: left;
}

.labels {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

.inputs {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

.inputs:focus {
  outline: none;
  border: 2px solid #fff;
}

.btnarea {
  margin-top: 20px;
}

.bttn {
  background-color: gold;
  color: #f6f5f5;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

.bttn:hover {
  background-color: #f5f0e8;
  color: #0d0909;
  border-color: black;
}

.btnarea p {
  margin-top: 10px;
  color: #fff;
}

.btnarea p a {
  color: #ffd700;
  text-decoration: none;
  transition: color 0.3s;
}

.btnarea p a:hover {
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .formarea {
    padding: 30px 40px;
    max-width: 350px;
  }

  .formarea h1 {
    font-size: 2rem;
  }

  .bttn {
    padding: 12px 25px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .formarea {
    padding: 20px 30px;
    max-width: 300px;
  }

  .formarea h1 {
    font-size: 1.5rem;
  }

  .bttn {
    padding: 10px 20px;
    font-size: 0.8rem;
  }

  .inputs {
    padding: 8px;
    font-size: 0.9rem;
  }
}
