/* Navbar.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent; /* Transparent background */
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d3f6db;
}

.logo img {
  height: 80px;
  margin-right: 10px; /* Adjust spacing */
}

.logo h2 {
  font-size: 24px; /* Adjust font size */
  margin: 0; /* Remove default margin */
}

.navbar .nav-links {
  display: flex;
  align-items: center; /* Center align items vertically */
}

.nav-links .navbutton {
  font-size: 18px; /* Adjust font size */
  border: 2px solid rgb(239, 177, 43);
  text-decoration: none;
  border-radius: 50px;
  margin-left: 10px; /* Adjust spacing between buttons */
  padding: 10px 20px; /* Adjust button padding */
  background-color: #06060644;
  color: #f6fef8; /* Text color */
  transition: background-color 0.3s ease;
  position: relative; /* Position relative for absolute positioning of text */
  display: flex; /* Use flexbox for positioning */
  align-items: center; /* Center align items vertically */
  width: auto; /* Ensure button width adjusts based on content */
}

.nav-links .navbutton .material-symbols-outlined {
  margin-right: 5px; /* Adjust spacing between icon and text */
}

.nav-links .navbutton .cart-text {
  position: absolute;
  left: calc(100% - 65px); /* Position it just outside the button */
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  white-space: nowrap; /* Ensure text does not wrap */
}

.nav-links .navbutton:hover {
  background-color: #eb9f3b; /* Hover background color */
  color: #f3eff4; /* Hover text color */
  width: 110px;
}

.nav-links .navbutton:hover .cart-text {
  opacity: 1;
  transform: translate(0, -50%);
  
}
.cart-badge {
  background-color: red;
  opacity: 80%;
  color: white;
  padding: 3px 5px; /* Adjust padding as needed */
  border-radius: 50%; /* For a round badge */
  position: absolute;
  font-size: x-small;
  top: -5px; /* Position above the cart icon */
  right: -5px; /* Position to the right of the cart icon */
}
