/* ShareButton.css */

.share-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  z-index: 1000;
}
.shareit {
  color: black;
}
.share-options a,
.share-options button {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  margin: 4px 0;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.share-options a:hover,
.share-options button:hover {
  background-color: white;
}
