.order-list {
  padding: 20px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  margin-top: 40px; /* Added to match the dispatcher container margin */
}

.order-button {
  flex: 1;
  text-align: center;
  padding: 10px;
  margin: 0 7px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.order-button:hover {
  background-color: #2980b9;
}

.search-bar {
  position: absolute;
  right: 20px;
  top: 0px;
  margin-right: 20px;
  margin-top: 149px;

  
}

.search-bar input[type="text"] {
  padding: 10px 16px; /* Adjusted padding for input field */
  border: 1px solid #3498db;
  border-radius: 20px; /* Rounded corners */
  font-size: 14px;
  width: 150px;
  transition: width 0.3s ease-in-out; /* Smooth transition for width change */
  
}

.search-bar input[type="text"]:focus {
  width: 170px; /* Expanded width on focus */
  border: 1px solid #3498db;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f4f4f4;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.loading {
  font-size: 1.5em;
  text-align: center;
  padding: 50px 0;
}

.error {
  color: red;
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}
h2{
  margin-bottom: 0px;
  text-align: center;
  font-size: 34px;
  color: #333;
}
h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #3498db; /* Blue underline color */
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}