/* src/components/Dispatcher.css */
.dispatcher-container {
    padding: 20px;
    margin-top: 40px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .order-button {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .order-button:hover {
    background-color: #2980b9;
  }
  
  .orders-content {
    margin-top: 20px;
  }
  